{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-console": 0,
        "semi-style": 2,
        "semi": 1,
        "no-extra-semi": 2,
        "semi-spacing": 1,
        "quotes": [
            1,
            "double"
        ],
    }
}
